@charset "UTF-8"; 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: lightgray;
}
.header{
  background-color: rgb(28, 180, 231);
  padding: 25px 0;
  text-align: center;
}
.header h1{
  color: white;
  font-size: 3em;
}
.menu{
  background-color: rgb(54, 52, 52);
  padding: 25px 10px;
  width: 100%;
  margin-top: 20px;
}
.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}
.nav-links a{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s ease;
  padding: 10px;
}
.nav-links a:hover{
  text-decoration: underline;
  background-color: gray;
  border-radius: 5px;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table caption{
  text-transform: uppercase;
  font-size: 2em;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px;
}
.table{
  border: 2px solid black;
  border-collapse: collapse;
  width: 80%;
  margin-top: 10%;
}
td, th{
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}
.footer{
  background-color: rgb(28, 180, 231);
  padding: 15px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.footer{
  color: white;
  font-size: 1em;
  font-weight: bold;
}